html {
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}
#images-preview img {
    height: 100%;
    width: 100% ;
    object-fit: cover;
    padding: 1px;
    width: 312px;
    height: 312px;
}

#images-preview {
    border-top: 1px solid transparent;
    margin: auto;
    padding: 0;
    min-height: 500px;
}

.title-span{
    font-size: larger;
}

#slideshow-button{
    display: none;
    position: absolute;
    z-index: 25;
}