html {
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}
#images-preview img {
    height: 100%;
    width: 100% ;
    object-fit: cover;
    padding: 1px;
    width: 312px;
    height: 312px;
}

#images-preview {
    border-top: 1px solid transparent;
    margin: auto;
    padding: 0;
    min-height: 500px;
}

.title-span{
    font-size: larger;
}

#slideshow-button{
    position: absolute;
    top: 2%;
    left: 47%;
    z-index: 100000;
    display: none;
}

#cookies {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

#innerCookies{
    position: absolute;
    left: 25%;
    width: 50%;
    min-height: 200px;
    color: blanchedalmond;
    z-index: 10000;
    background-color: black;
    opacity: 0.9;
    top: 2%;
    padding: 1%;
}

#innerCookies h1{
    font-size: xx-large;
}
