html {
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
}
body{
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}
#images-preview img {
    height: 100%;
    width: 100% ;
    object-fit: cover;
    margin: 3px 3px 3px 0;
    padding: 1px;
    width: 312px;
    height: 312px;
}

#images-preview {
    border-top: 1px solid transparent;
    margin: 0;
    padding: 0;
    min-height: 500px;
}
